[Unit]
Description=etcd gateway v{{ etcd_version }}
Documentation=https://github.com/coreos/etcd
After=network.target

[Service]
ExecStart=/usr/local/bin/etcd gateway start \
  --trusted-ca-file=/etc/kubernetes/ssl/ca.pem \
  --retry-delay=30s \
  --listen-addr=127.0.0.1:23790 \
  --endpoints={% for host in groups['k8s_masters'] %}{{ hostvars[host]['ansible_default_ipv4']['address'] }}:2379{% if not loop.last %},{% endif %}{% endfor %}

Restart=always
RestartSec=10s
Type=notify

[Install]
WantedBy=multi-user.target
