#!/bin/bash -e

cfssl gencert \
  -ca=ca.pem \
  -ca-key=ca-key.pem \
  -config=ca-config.json \
  -hostname={{ ansible_default_ipv4.address }},{{ kubernetes_svc_ip }},127.0.0.1,localhost,kubernetes.default \
  -profile=kubernetes kubernetes-csr.json | cfssljson -bare kubernetes
