{
  "storage-driver": "{{ docker_storage_driver }}",
  "insecure-registry": ["{{ cluster_cidr }}"],
  "iptables": false,
  "dns": ["{{ cluster_dns }}"],
  "dns-search": ["svc.cluster.local"],
  "dns-opts": ["ndots:2"],
  "log-opts": {
    "max-size": "100m",
    "max-file": "1"
  }
}
