#!/bin/bash -e

kubectl config set-cluster kubernetes \
  --certificate-authority=/etc/kubernetes/ssl/ca.pem \
  --embed-certs=true \
  --server=https://127.0.0.1:9090 \
  --kubeconfig=/etc/kubernetes/kubelet.kubeconfig

kubectl config set-credentials system:node:{{ ansible_hostname }} \
  --client-certificate=/etc/kubernetes/ssl/kubelet.pem \
  --client-key=/etc/kubernetes/ssl/kubelet-key.pem \
  --embed-certs=true \
  --kubeconfig=/etc/kubernetes/kubelet.kubeconfig

kubectl config set-context default \
  --cluster=kubernetes \
  --user=system:node:{{ ansible_hostname }} \
  --kubeconfig=/etc/kubernetes/kubelet.kubeconfig

kubectl config use-context default --kubeconfig=/etc/kubernetes/kubelet.kubeconfig
