#!/bin/bash -e

kubectl config set-cluster kubernetes \
  --certificate-authority=/etc/kubernetes/ssl/ca.pem \
  --embed-certs=true \
  {% if 'k8s_masters' in group_names -%}
  --server=https://127.0.0.1:6443 \
  {% else -%}
  --server=https://127.0.0.1:{{ kube_api_proxy_port }} \
  {% endif -%}
  --kubeconfig=/etc/kubernetes/kubelet.kubeconfig

kubectl config set-credentials system:node:{{ ansible_hostname }} \
  --client-certificate=/etc/kubernetes/ssl/kubelet.pem \
  --client-key=/etc/kubernetes/ssl/kubelet-key.pem \
  --embed-certs=true \
  --kubeconfig=/etc/kubernetes/kubelet.kubeconfig

kubectl config set-context default \
  --cluster=kubernetes \
  --user=system:node:{{ ansible_hostname }} \
  --kubeconfig=/etc/kubernetes/kubelet.kubeconfig

kubectl config use-context default --kubeconfig=/etc/kubernetes/kubelet.kubeconfig
