#jinja2:lstrip_blocks: True
[Unit]
Description=Kubernetes API server v{{ kubernetes_version }}
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/hyperkube apiserver \
  --admission-control={{ admission_control }} \
  --advertise-address={{ ansible_default_ipv4.address }} \
  --allow-privileged=true \
  --apiserver-count={{ groups['k8s_masters'] | length }} \
  --authorization-mode=Node,RBAC \
  --client-ca-file=/etc/kubernetes/ssl/ca.pem \
  --etcd-cafile=/etc/kubernetes/ssl/ca.pem \
  --etcd-certfile=/etc/kubernetes/ssl/etcd.pem \
  --etcd-keyfile=/etc/kubernetes/ssl/etcd-key.pem \
  --etcd-quorum-read=true \
  --etcd-servers={% for host in groups['k8s_masters'] %}https://{{ hostvars[host]['ansible_default_ipv4']['address'] }}:2379{% if not loop.last %},{% endif %}{% endfor %} \
  --event-ttl=1h \
  --bind-address=0.0.0.0 \
  --secure-port=6443 \
  --insecure-bind-address=127.0.0.1 \
  --insecure-port=8080 \
  --storage-backend=etcd3 \
  --anonymous-auth=False \
  --kubelet-certificate-authority=/etc/kubernetes/ssl/ca.pem \
  --kubelet-client-certificate=/etc/kubernetes/ssl/kubernetes.pem \
  --kubelet-client-key=/etc/kubernetes/ssl/kubernetes-key.pem \
  --kubelet-https=true \
  --service-account-key-file=/etc/kubernetes/ssl/ca-key.pem \
  --service-cluster-ip-range={{ service_cluster_ip }} \
  --service-node-port-range={{ service_node_port_range }} \
  --tls-ca-file=/etc/kubernetes/ssl/ca.pem \
  --tls-cert-file=/etc/kubernetes/ssl/kubernetes.pem \
  --tls-private-key-file=/etc/kubernetes/ssl/kubernetes-key.pem \
  --v={{ verbosity }} {% if apiserver_custom_flags %}\
  {% for f in apiserver_custom_flags %}
  {{ f }} {% if not loop.last %}\
  {% endif %}
  {% endfor %}
  {% endif %}

Restart=always
RestartSec=5
LimitNOFILE=30000

[Install]
WantedBy=multi-user.target
