#!/bin/bash

# check state of the cluster, 'new' or 'existing'
# quering against first server in k8s_masters group

export ETCDCTL_API=3

etcdctl \
  --cert /etc/kubernetes/ssl/etcd.pem \
  --key /etc/kubernetes/ssl/etcd-key.pem \
  --cacert /etc/kubernetes/ssl/ca.pem \
  --endpoints https://{{ hostvars[groups['k8s_masters'][0]]['ansible_default_ipv4']['address'] }}:2379 \
  member list >/dev/null 2>&1

if [[ "$?" -eq "0" ]]; then
  # cluster already initialized
  echo "existing"
else
  # cluster doesn't initialized yet (or down)
  echo "new"
fi
