- name: restart_timesyncd
  systemd: name=systemd-timesyncd state=restarted

- name: restart_cron
  systemd: name=cron state=restarted

- name: restart_journald
  systemd: name=systemd-journald state=restarted
